version: 2
jobs:
  build:
    docker:
      - image: chrisrichardson/pyrol-testing:latest
        environment:
	  TRILINOS_DIR: /usr/local
    working_directory: /tmp/pyrol-testing
    steps:
      - checkout
      - run:
          name: Build PyROL
          command: cd packages/rol/pyrol && python3 setup.py install --prefix=/usr/local
      - run:
          name: Test PyROL
          command: python -c "import pyrol"
